<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Gallery</h1>
    <div class="gallery">
        {{#each images}}
            <div class="image">
                <img src="/img/{{this}}" alt="Image">
            </div>
        {{/each}}
    </div>
</body>
</html>
 